.App {
    width: 100%;
    min-height: 100vh;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 30px;
}

header {
    display: flex;
    justify-content: center;
    background-color: black;
}

.header-title {
    color:aliceblue
}

nav {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navlink {
    margin-left: 10px;
    color:aliceblue;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    width: 95%;    
    padding-top: 50px
}


.card {
    width: 300px;
    margin: 0px 50px 50px 0;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    cursor: pointer;
    transition: all .5s;    
}

.card:hover {
    transform: scale(1.1);
}

.card-image {
    width: 100%
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.athlete-image {
    border-radius: 10px;
    margin-right: 50px;
}

.athlete-details >p, .athlete-details >h3 {
    margin-top: 75px;
    margin-bottom: 75px;
} 

.athlete-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-details {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin: 20px 0;
}

.form-details >input {
    width: 60%;
    padding: 10px;

}

.new-athlete-heading {
    text-align: center;
    border-bottom: 4px solid black;
}

label {
    font-weight: bold;
    font-size: 18px;
}


@media only screen and (min-width: 700px) {
    .content {
        width: 80%; 
    }    
}

@media only screen and (min-width: 900px) {
    .details-page {
        flex-direction: row;
    }    
    .form-details {
        width: 50%;
    }

}
